<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Circles.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E04548C243B68DEB0FEFF7A3DF80E4B9251BCD8D</string>
				<key>dateExpires</key>
				<string>8/2/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2W7AC6T8T5.org.futo.circles</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>webcredentials:circu.li</string>
					<string>webcredentials:example.com</string>
					<string>webcredentials:us.circles-dev.net</string>
					<string>webcredentials:nl.circles-dev.net</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>2W7AC6T8T5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2W7AC6T8T5.org.futo.circles</string>
					<string>2W7AC6T8T5.org.futo.photos</string>
				</array>
			</dict>
			<key>name</key>
			<string>Circles.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>baee562d-e679-4743-9aa0-26eaae555ef8</string>
				<key>dateExpires</key>
				<string>8/3/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.futo.circles</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2W7AC6T8T5</string>
				<key>name</key>
				<string>FUTO Holdings, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.2.1</string>
		</dict>
	</array>
</dict>
</plist>
