<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ByosProducts.plist
   Circles

   Created by Charles Wright on 8/10/21.
   Copyright (c) 2021 Kombucha Digital Privacy Systems LLC. All rights reserved.
-->
<plist version="1.0">
<array>
    <string>social.kombucha.circles.byos01month</string>
    <string>social.kombucha.circles.byos12month</string>
</array>
</plist>
