<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:circu.li</string>
		<string>webcredentials:eu.circu.li</string>
		<string>webcredentials:*.circles-dev.net</string>
		<string>webcredentials:circles.futo.org</string>
		<string>applinks:circu.li</string>
		<string>applinks:*.circles-dev.net</string>
		<string>applinks:circles.futo.org</string>
	</array>
	<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.RX3RM99NR6.org.futo.circles</string>
	</array>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.personal-information.photos-library</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)org.futo.circles</string>
	</array>
</dict>
</plist>
